/* styles.css */

/* Set primary color */

/* Styles for the header component */
.headerComponent {
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/* Styles for the header buttons */
.headerButton {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.navbar-button-container a{
    color: whitesmoke !important;
    background-color: var(--primary-color2) !important;
}

.navbar-button-container a:hover{
    color: whitesmoke !important;
    background-color: var(--secondary-color) !important;
    text-decoration: none !important;
}

.headerButton:hover {
    background-color: #6e547c;
}

.headerButton:active {
    background-color: #ae7586;
}