
.search-label{
    min-width: 200px;
}

.employeeSearchForm{
    max-width: 580px;
    margin: 100px 20px 20px;
}
.employeeExportForm{
    max-width: 640px;
    margin: 20px 20px;
}

.table-header th{
    background-color: #e3e3e3 !important;
}


.page-num{
    min-width: 40px;
    min-height: 40px;
    background-color: var(--secondary-color2);
    display: flex;
    align-items: center;
    justify-content: center;
}